


//
//   Quicksand Font
//
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');


//
//   Logo Font
//
@font-face {
    font-family: 'logo-font';
    src: url('../Fonts/logo-font/logo-font.woff2') format('woff2'),
         url('../Fonts/logo-font/logo-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo
{
    font-family: logo-font;
    font-size: 24px;
    font-weight: 500;
    
    text-transform:uppercase;
}


body 
{ 
    font-family: 'Quicksand', sans-serif; 
}